
.big {
  width:100%;
  background-size: cover;
  background-image: url('/static/pharm4.jpg');
  height: 100px;
	background-position: right;
	background-repeat: no-repeat;
}

.padd {
	margin-right: 80px;
}

.bbn {
	background-color:black;
	padding: 6px;
	font-size: 20px;
  border: 2px solid #0fbcdb;
	color:white;
}


.round {
  border: 2px solid;
  border-radius: 5px;
  padding: 20px;
}

.button1 {
  background-color:black;
  padding: 16px;
  font-size: 20px;
  border: 2px solid #0fbcdb;
  color:white;
}

.button2 {
  margin-left: 147px;
}

.gita {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #757309 0%, white 100%);
  background-blend-mode: normal;
}
