{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style media="screen">
  .gib2 {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-image: linear-gradient(to bottom, black 0%, white 100%);
    background-blend-mode: luminosity;
  }
 .butt {
   margin-left: 0px;
 }
</style>


<div class="row">
  <div class="col-md-offset-1 col-md-10 text-center bg-success">
    <!--MESSAGE FLASHING EXAMPLE -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h1>{{ message }}</h1>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>

<br>


    <div class="row">
      <div class="col-md-1"></div>
      <section class="col-md-3">

        <br>



      <p ><a href="{{ url_for('medsCatList', medcat=caMed.category)}}" style="color:black;"><span class="glyphicon glyphicon-step-backward"></span><u >Medication Category List</u></a></p>


        <u><h1>{{ caMed.category }}</h1></u>
        {% for i in categoryM %}
        <div style="display: table;">
          <ul style="font-size:20px; font-weight: bold;">
            <a href='{{ url_for('medList', medcat=caMed.category,med=i.name)}}'>
            <li style="color:#2d2728; ">{{ i.name}}</li></a>
          </ul>
          {% endfor %}

        </div>



        <a href="{{url_for('createMedication',medcat=caMed.category)}}">
          <button class="btn btn-default btn-lg" style="background-color:#07080c;padding: 16px;font-size: 20px;border: 2px solid #0fbcdb;color:white">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new Medication
          </button>
        </a>

      </section>
      <section class="col-md-7">
        <h1 class="text-center gib2" style="color:white">{{ medsdisplay.name}}</h1>
            <h4><strong>Description : </strong>{{ medsdisplay.description}}</h4>
            <h4><strong>Adverse Effects : </strong>{{ medsdisplay.adverseEffect}}</h4>
            <h4><strong>FDA Pregnancy Category : </strong>{{ medsdisplay.pregnancyCategory}}</h4>
<br><br>
            <a href="{{url_for('editMedication',medcat=caMed.category,med=medsdisplay.name)}}">
              <button class="btn btn-default btn-lg"  style="background-color:black;padding: 16px;font-size: 20px;border: 2px solid #0fbcdb;color:white">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Medication
              </button>
            </a>

          <a href="{{ url_for('deleteMedication',medcat=caMed.category,med=medsdisplay.name)}}">
            <button class="btn btn-default btn-lg butt"  style="background-color:black;padding: 16px;font-size: 20px;border: 2px solid #0fbcdb;color:white">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span> Delete Medication
            </button>
          </a>
      </section>
      <div class="col-md-1"></div>
      <!-- <section class="col-md-1"></section> -->
    </div>

<br><br><br>
{% include "footer.html" %}
{% endblock %}
