{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<br>

<style>
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.round {
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
  }

  .button1 {
    background-color:black;
    padding: 16px;
    font-size: 20px;
    border: 2px solid #0fbcdb;
    color:white
  }

  .button2 {
    margin-left: 200px;
  }

  .warn {
    color: red;
  }
</style>

<div class="row">
<div class="col-md-offset-2 col-md-8">
<h1 class="warn"> {{ 'Delete %s ? Are you Sure!!' % med}}</h1>
<form class="form container-fluid round" action='{{ url_for('deleteMedication', medcat=medcat,med=med) }}' method="post">

  <button type="submit" id="submit" value="Delete"class="btn btn-info button1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
  </form>
  <br><br>
    <div>
      <h1> {{'Delete %s' % med}}</h1>
      {{'deleting %s .... click the delete button' % med}}
    </div>
  <br>
<a href="{{ url_for('medList',medcat=medcat, med=med)}}" role="button" class="btn btn-danger button1" id="cancel"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
<h2 class="warn">{{'You are about to delete %s Permanently!!!' % med}}</h3>

</div>
</div>
<br><br><br>
{% include "footer.html" %}
{% endblock %}
