
<style>
  .gita {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #757309 0%, white 100%);
    background-blend-mode: normal;
  }

</style>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="{{ url_for('medicationlist')}}">Medication Review App</a>
	<ul class="nav navbar-nav">
		<li class="active">
		<a href="{{ url_for('medicationlist')}}" class="btn btn-info btn-ig"><span class="glyphicon glyphicon-home"></span> Home</a></li>
</div>
</div>
</nav>


<div class="row">
  <div class="col-ms-12 gita">
</div>
</div>
