{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style>
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.round {
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
  }

  .button1 {
    background-color:black;
    padding: 16px;
    font-size: 20px;
    border: 2px solid #0fbcdb;
    color:white
  }

  .button2 {
    margin-left: 30px;
  }
</style>

<div class="row">
<div class="col-md-offset-3 col-md-6">
<h1>  Add New Medication</h1>
<form class="form container-fluid round" action="{{url_for('createMedication', medcat=medcat) }}" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" maxlength="80" name="name" id="nam">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" rows="5" maxlength="650" name="description" id="des"></textarea>
  </div>

  <div class="form-group">
    <label for="adverseEffect">Adverse Effects:</label>
    <input type="text" class="form-control" maxlength="80" name="adverseEffect" id="adv">
  </div>

  <div class="form-group">
    <label for="pregnancyCategory">FDA Pregnancy Category:</label>
    <input type="text" class="form-control" maxlength="80" name="pregnancyCategory" id="preg">
  </div>

  <button type="submit" id="submit" class="btn btn-info button1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
  <a href="{{ url_for('medsCatList',medcat=medcat) }}" role="button" class="btn btn-danger button1 button2" id="cancel">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button></a>
</form>
</div>
</div>

<br><br><br>
{% include "footer.html" %}
{% endblock %}
